In [2]:
import pandas as pd

In [6]:
pwd

'/Users/Anastasiya/Repositories/python-homeworks'

Задание 1
Скачайте с сайта датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [47]:
data_rating  = pd.read_csv('ratings.dat', sep = "::", names = ["UserID", "MovieID", "Rating", "Timestamp"])
data_rating.groupby(['MovieID', 'Rating']).count().query('Rating == 5').sort_values('UserID', ascending=False).head(1)

/var/folders/1r/zdb41tls7vg775n3d2h3tbvc0000gn/T/ipykernel_643/2427699981.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  data_rating  = pd.read_csv('ratings.dat', sep = "::", names = ["UserID", "MovieID", "Rating", "Timestamp"])

                UserID  Timestamp
MovieID Rating
2858    5         1963       1963

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 год. Не учитывайте в расчётах отрицательные значения quantity.

In [6]:
df = pd.read_csv('power.csv')
data_power = df.loc[df['year'].between(2005, 2010)]
set_country = ['Latvia', 'Lithuania', 'Estonia']
set_category = [4, 12, 21]
data_power.groupby(['country', 'category']).sum('quantity').query('country in @set_country & category in @set_category & quantity > 0').head(10)

                      year  quantity
country   category
Estonia   4          54174      28.0
          21        144540   63412.0
Latvia    21        160608   54844.0
Lithuania 4          48156      18.0
          12        188749    6227.0
          21        204788  115952.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas DataFrame. Вы можете взять любые страницы.

In [ ]:
tables = pd.read_html("https://en.wikipedia.org/wiki/2022_FIFA_World_Cup")